@model JW_Management.Models.Reuniao
@{
    ViewData["Title"] = "Reuniões";
}

<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

    .tabs-content li.is-active {
        display: block;
    }
</style>

<form asp-action="Index" method="get" id="">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-user-tie"></i>
                                </span>
                                <span>Reunião - @Model.SemanaReuniao</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
                
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container">
    @if (Model.Designacoes!.Count() == 0)
    {
        <br />
        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
            Não foram encontradas
            designações!
        </button>
    }
    else
    {

    <div class="tabs-wrapper">
        <div class="tabs is-centered is-boxed is-medium">
            <ul>
                <li class="is-active">
                <a>
                    <span class="icon is-small"><i class="fa-solid fa-user-tie"></i></span>
                    <span>Tesouros</span>
                </a>
                </li>                
                <li>
                <a>
                    <span class="icon is-small"><i class="fa-solid fa-people-arrows"></i></span>
                    <span>Designacoes</span>
                </a>
                </li>
                <li>
                <a>
                    <span class="icon is-small"><i class="fa-solid fa-hand"></i></span>
                    <span>Viver Como Cristaos</span>
                </a>
                </li>
                <li>
                <a>
                    <span class="icon is-small"><i class="fa-solid fa-book"></i></span>
                    <span>Fim de Semana</span>
                </a>
                </li>
                <li>
                <a>
                    <span class="icon is-small"><i class="fa-solid fa-book-open"></i></span>
                    <span>Sentinela</span>
                </a>
                </li>
                <li>
                <a>
                    <span class="icon is-small"><i class="fa-solid fa-person-circle-check"></i></span>
                    <span>Responsabilidades</span>
                </a>
                </li>
            </ul>
        </div>

        <div class="tabs-content">
            @for (int i=0; i<600; i+=100) {
                <ul>
                    <li class="@(i == 0 ? "is-active" : "")">
                        <div class="task-container columns is-multiline mx-1">
                            @foreach(var item in Model.Designacoes.Where(t => t.TipoDesignacao!.Id > i).Where(t => t.TipoDesignacao!.Id < i+100).DistinctBy(t => t.Distinct).OrderBy(t => t.TipoDesignacao!.Id)) {
                                <div class="column is-6">
                                    <div class="card">
                                        <header class="card-header card-toggle @(Model.Designacoes.Where(d => d.TipoDesignacao == item.TipoDesignacao && d.Local == item.Local).Where(u => u.Publicador.Id == 0).Count() > 0 ? "has-background-danger" : "")" >
                                            <p class="is-size-6 my-1 has-text-centered column">
                                                <b>@item.TipoDesignacao!.Descricao</b>
                                            </p>
                                        </header>
                                        <div class="card-content has-text-centered">
                                            <div class="content">
                                                <div class="columns is-centered is-vcentered">
                                                    <div class="column m-1">
                                                        @foreach (var u in @Model.Designacoes.Where(d => d.TipoDesignacao == item.TipoDesignacao && d.Local == item.Local)) {
                                                        <div class="field">
                                                            <p class="control has-icons-left">
                                                                <span class="select is-fullwidth">
                                                                    <select class="select" style="height: auto" asp-for="@u.Publicador.Id" id="@u.Stamp" onchange="this.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.childNodes[1].classList.add('has-background-warning')"
                                                                            asp-items="@(new SelectList(@ViewBag.Publicadores, "Value", "Text"))">
                                                                    </select>
                                                                </span>
                                                                <span class="icon is-small is-left">
                                                                    <i class="fa-solid fa-user-tie"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        }
                                                    </div>
                                                    @if (Model.Designacoes.Where(d => d.TipoDesignacao == item.TipoDesignacao).Count() > 1) {
                                                        <div class="column"  style="border-style:solid;border-radius:16px">
                                                            <div class="field">
                                                                Sala: <b>@item.Local</b>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <footer class="card-footer">
                                            <div class="container is-12">
                                                <div class="buttons has-addons">
                                                    <button class="button is-info is-fullwidth is-large card-footer-item"
                                                                onclick="AtualizarDesignacao(Array.from(this.parentElement.parentElement.parentElement.parentElement.querySelectorAll('select')).map(function(selectElement) {return selectElement.id + '|' + selectElement.value;}));">
                                                            <i class="fa-solid fa-floppy-disk"></i>
                                                    </button>
                                                    
                                                </div>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            }
                        </div>
                    </li>
                </ul>  
            }
        </div>
    </div>
    }

</div>

<div id="modalAdicionarAnexo" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Anexos</p>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <form action="/Reunioes/Reunioes" method="POST" class="dropzone">
                    <div class="dz-message needsclick">
                        Largue o anexo aqui para fazer o upload
                    </div>
                </form>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-large is-fullwidth"
                    onclick="Bulma('#modalAdicionarAnexo').modal().close();" id="btnConfirmAddAnexo"
                    href="javascript:;">
                Fechar
            </button>
        </footer>
    </div>
</div>


<script>

function AtualizarDesignacao(stampList) {
    
      stampList.forEach(function(stamp) {
        $.ajax({
            url: '/Reunioes/Designacao/',
            data: { "id": stamp.split('|')[0], "pub": stamp.split('|')[1] },
            type: "POST",
            success: function (data) {
                document.getElementById(stamp.split('|')[0]).parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.childNodes[1].classList.remove('has-background-warning')
                notify("Designacao atualizada com sucesso!");
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao atualizar a designacao!');
            },
            failure: function (response) {
                notifyError('Falha ao atualizar a designacao!');
            }
        });
      });
}

</script>