@model IEnumerable<JW_Management.Models.Literatura>
@{
    ViewData["Title"] = "Literatura";
}

<form asp-action="Index" method="get" id="frmFiltrar">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-book"></i>
                                </span>
                                <span>Literatura</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons has-addons-right mx-1 is-flex-wrap-wrap" style="width:100%">
                    <p class="control has-icons-left">
                        <input type="text" class="input" placeholder="Descrição" id="filtro" name="filtro"
                               value="@ViewData["filtro"]">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <span class="select is-fullwidth">
                            <select class="select" id="txtTipo" name="tipo"
                                    onchange="document.getElementById('frmFiltrar').submit();" style="height: auto"
                                    asp-items="@(new SelectList(@ViewBag.Tipos, "Value", "Text", ViewData["tipo"]))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-book"></i>
                        </span>
                    </p>
                    <div class="buttons has-addons is-right mt-2">
                        <p class="control">
                            <button type="submit" class="button is-info is-outlined is-fullwidth ">
                                <span class="icon">
                                    <i class="fas fa-search fa-lg"></i>
                                </span>
                                <span>Pesquisar</span>
                            </button>
                        </p>
                        <p class="control">
                            <a type="button" href="~/Literatura" class="button is-fullwidth ">
                                <span class="icon">
                                    <i class="fas fa-backspace fa-lg"></i>
                                </span>
                                <span>Limpar</span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-info is-fullwidth " onclick="Bulma('#modalNovaPublicacao').modal().open();">
                                <span class="icon">
                                    <i class="fa-solid fa-book fa-lg"></i>
                                </span>
                                <span>Adicionar</span>
                            </a>
                        </p>
                        <p class="control">
                            <a type="button" class="button is-success is-fullwidth " onclick="Bulma('#modalToken').modal().open();">
                                <span class="icon">
                                    <i class="fas fa-arrow-alt-circle-up fa-lg"></i>
                                </span>
                                <span>Enviar JW HUB</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container">
    @if (Model.Count() == 0)
    {
        <br />
        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
            Não foram encontradas
            publicações!
        </button>
    }
    else
    {
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Referencia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Descricao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Quantidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Tipo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if(!(item.Tipo!.Id == 7 && item.Quantidade <= 0)) {
                                <tr>
                                    <td class="is-image-cell">
                                        <div class="image">
                                            <img src="@item.Imagem">
                                        </div>
                                    </td>
                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Referencia)">
                                        <span>@item.Referencia</span>
                                    </td>
                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Descricao)">
                                        <span>@item.Descricao</span>
                                    </td>
                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Quantidade)">
                                        <span>@item.Quantidade</span>
                                    </td>
                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Tipo)">
                                        <span>@item.Tipo!.Descricao</span>
                                    </td>
                                    <td class="is-actions-cell">
                                        <div class="field has-addons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                            <button class="button is-primary is-fullwidth is-large mr-1"
                                                    onclick="AtualizarImagem('@item.Stamp')">
                                                <i class="fas fa-image"></i>
                                            </button>
                                            <button class="button is-info is-fullwidth is-large mr-1"
                                                    onclick="AtualizarQuantidade('@item.Stamp')">
                                                <i class="fas fa-refresh"></i>
                                            </button>
                                            <button class="button is-danger is-fullwidth is-large"
                                                    onclick="ConfirmApagar('@item.Stamp')">
                                                <i class="fas fa-trash-can"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<div id="modalNovaPublicacao" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span>Nova - Publicação</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <label class="label">Referência</label>
                    <p class="control ">
                        <input type="text" class="input" id="txtRefPub">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Nome</label>
                    <p class="control ">
                        <input type="text" class="input" id="txtNomePub">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Tipo</label>
                    <p class="control has-icons-left">
                        <span class="select is-fullwidth">
                            <select class="select" id="txtTipoPub" style="height: auto"
                                    asp-items="@(new SelectList(@ViewBag.Tipos, "Value", "Text"))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-book"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label">Quantidade</label>
                    <div class="field has-addons">
                        <div class="control">
                            <button type="button" class="button is-danger disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtdPub').value = parseInt(document.getElementById('txtQtdPub').value) - 1">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <div class="control" style="width:100%">
                            <input type="number" class="input has-text-centered" min="1" id="txtQtdPub" value="1">
                        </div>
                        <div class="control">
                            <button type="button" class="button is-success disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtdPub').value = parseInt(document.getElementById('txtQtdPub').value) + 1">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <a class="button is-info is-large is-fullwidth"
               onclick="CriarPublicacao(document.getElementById('txtRefPub').value, document.getElementById('txtNomePub').value, document.getElementById('txtTipoPub').value, document.getElementById('txtQtdPub').value, this)">
                <span class="icon">
                    <i class="fa-solid fa-circle-plus fa-beat-fade"></i>
                </span>
                <span>
                    Criar
                </span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalNovaPublicacao').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
            </div>
        </footer>
    </div>
</div>

<div id="modalAtualizarQuantidade" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span>Entrada - Publicações</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <label class="label">Quantidade</label>
                    <div class="field has-addons">
                        <div class="control">
                            <button type="button" class="button is-danger disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtd').value = parseInt(document.getElementById('txtQtd').value) - 1">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <div class="control" style="width:100%">
                            <input type="number" class="input has-text-centered" min="1" id="txtQtd" value="1">
                        </div>
                        <div class="control">
                            <button type="button" class="button is-success disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtd').value = parseInt(document.getElementById('txtQtd').value) + 1">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <a class="button is-info is-large is-fullwidth"
               onclick="GerarMovimento(document.getElementById('txtHiddenStamp').value, document.getElementById('txtQtd').value, this)">
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
                <span>
                    Guardar
                </span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalAtualizarQuantidade').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
            </div>
        </footer>
    </div>
</div>


<div class="modal" id="ModalConfirmApagar">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Apagar Publicação</p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja apagar esta publicação e todos os movimentos associados a ela?</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <button class="button is-danger is-fullwidth is-large"
                    onclick="Apagar(document.getElementById('txtHiddenStamp').value, this);">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Confirmar</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#ModalConfirmApagar').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
            </div>
        </footer>
    </div>
</div>

<div id="modalAtualizarImagem" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Anexos</p>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <form action="/Literatura/Imagem" method="POST" class="dropzone">
                    <input type="hidden" name="id" id="txtStampLiteraturaImagem">
                    <div class="dz-message needsclick">
                        Largue aqui a imagem da publicação para fazer o upload
                    </div>
                </form>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <button type="button" class="button is-info is-large is-fullwidth"
                    onclick="Bulma('#modalAtualizarImagem').modal().close();" id="btnConfirmAddAnexo"
                    href="javascript:;">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
            </div>
        </footer>
    </div>
</div>

<div id="modalToken" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-arrow-alt-circle-up"></i>
                </span>
                <span>Enviar Inventário - JW HUB</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <div class="control">
                        <label>Para puder enviar os dados para o JW, pressione o botão abaixo e depois aceda ao site HUB.JW.ORG com os seus dados de acesso. Na pagina principal pressione a tecla F12 e faça colar. Depois pode colar a informação na caixa abaixo.</label>
                        <div class="field">
                            <button class="button is-fullwidth is-success is-large mt-3" onclick="navigator.clipboard.writeText('copy(document.cookie)'); notify('Texto copiado. Agora vá ao JW Hub!')"><span class="icon"><i class="fa-solid fa-arrow-pointer"></i></span><span>Clique Aqui</span></button>
                        </div>
                    </div>
                    <hr/>
                    <label class="label">Cookie - Login</label>
                    <div class="field has-addons">
                        <div class="control" style="width:100%">
                            <input type="text" class="input has-text-centered is-large" min="1" id="txtCookie" value="" placeholder="Insira a cookie...">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <a class="button is-info is-large is-fullwidth"
               onclick="GerarInventario(document.getElementById('txtCookie').value, this)">
                <span class="icon">
                    <i class="fa-regular fa-paper-plane"></i>
                </span>
                <span>
                    Enviar
                </span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalToken').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
            </div>
        </footer>
    </div>
</div>

<input id="txtHiddenStamp" hidden />

<script>
    function ConfirmApagar(id) {
        document.getElementById('txtHiddenStamp').value = id;
        Bulma('#ModalConfirmApagar').modal().open();
    }

    function AtualizarQuantidade(id, qtd) {
        document.getElementById('txtHiddenStamp').value = id;
        Bulma('#modalAtualizarQuantidade').modal().open();
    }

    function AtualizarImagem(id) {
        document.getElementById('txtHiddenStamp').value = id;
        document.getElementById('txtStampLiteraturaImagem').value = id;
        Bulma('#modalAtualizarImagem').modal().open();
    }

    function GerarMovimento(stamp, qtd, btn) {
        btn.classList.add('is-loading');
        $.ajax({
            url: '/Literatura/Literatura/',
            data: { "id": stamp },
            type: "GET",
            success: function (res) {
                $.ajax({
                    url: '/Literatura/Movimentos/',
                    data: { "stamp": stamp, "qtd": qtd - (+res.quantidade) },
                    type: "POST",
                    success: function (data) {
                        notify('Movimento criado com sucesso!');
                        window.location.reload();
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao gerar um movimento!');
                    },
                    failure: function (response) {
                        notifyError('Falha ao gerar um movimento!');
                    }
                });
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao obter a literatura!');
            },
            failure: function (response) {
                notifyError('Falha ao obter a literatura!');
            },
            complete: function (xhr, status) {
                btn.classList.remove('is-loading');
            }
        });

    }

    function CriarPublicacao(referencia, descricao, tipo, qtd, btn) {
        btn.classList.add('is-loading');
        $.ajax({
            url: '/Literatura/Literatura/',
            data: { "referencia": referencia, "descricao": descricao, "data": '', "tipo": tipo },
            type: "POST",
            success: function (data) {
                notify('Literatura criada com sucesso!');
                GerarMovimento(data, qtd, btn);
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao criar a literatura!');
            },
            failure: function (response) {
                notifyError('Falha ao criar a literatura!');
            },
            complete: function (xhr, status) {
                btn.classList.remove('is-loading');
            }
        });
    }

    function Apagar(id, btn) {
        btn.classList.add('is-loading');
        $.ajax({
            url: '/Literatura/Literatura/',
            data: { "stamp": id },
            type: "DELETE",
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                notifyError('Ocorreu um erro ao apagar essa publicação!');
            },
            failure: function (data) {
                notifyError('Falha ao apagar essa publicação!');
            },
            complete: function (xhr, status) {
                btn.classList.remove('is-loading');
            }
        });
    }
    
    function GerarInventario(token, btn) {
        btn.classList.add('is-loading');
        $.ajax({
            url: '/Literatura/API/',
            data: { "id": token },
            type: "GET",
            success: function (res) {
                notify('Inventário enviado com sucesso!');
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao enviar o inventario! Provavelmente o inventário deste mês já foi enviado ou o TOKEN está errado ou não tens acesso á literatura da tua congregação!');
            },
            failure: function (response) {
                notifyError('Falha ao enviar o inventario!');
            },
            complete: function (xhr, status) {
                btn.classList.remove('is-loading');
            }
        });
    }
    </script>