@model IEnumerable<JW_Management.Models.Literatura>
@{
    ViewData["Title"] = "Literatura - Pedidos";
}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fa-solid fa-book-medical"></i>
                            </span>
                            <span>Pedidos</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field has-addons has-addons-right mx-1 is-flex-wrap-wrap" style="width:100%">

                <div class="buttons is-right">
                    <p class="control">
                        <button type="button" class="button is-info is-large is-fullwidth "
                                onclick="Bulma('#modalPedidoPublicacoes').modal().open();">
                            <span class="icon">
                                <i class="fa-solid fa-book"></i>
                            </span>
                            <span>Publicações</span>
                        </button>
                    </p>
                    <p class="control">
                        <button type="button" class="button is-primary is-large is-fullwidth "
                                onclick="Bulma('#modalPedidoPeriodicos').modal().open();">
                            <span class="icon">
                                <i class="fa-solid fa-newspaper"></i>
                            </span>
                            <span>Periódicos</span>
                        </button>
                    </p>
                    <p class="control">
                        <button type="button" class="button is-success is-large is-fullwidth "
                                onclick="Bulma('#modalMailPedidos').modal().open();">
                            <span class="icon">
                                <i class="fa-solid fa-paper-plane"></i>
                            </span>
                            <span>Mail Pedidos Especiais</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="tabs-wrapper">
        <div class="tabs is-toggle is-toggle-rounded is-fullwidth">
            <ul>
                <li class="is-active"><a>Especiais</a></li>
                <li><a>Periódicos</a></li>
            </ul>
        </div>
        <div class="tabs-content mx-2">
            <ul>
                <li class="is-active">
                    @if (Model.Where(l => l.Tipo!.Id != 7).Count() == 0)
                    {
                        <br />
                        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
                            Não foram encontrados
                            pedidos especiais!
                        </button>
                    }
                    else
                    {
                        <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">
                                <table class="table is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Referencia)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Descricao)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Quantidade)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Publicador!.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.EstadoPedido!)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(l => l.Tipo!.Id != 7))
                                        {
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Referencia)">
                                                    <span>@item.Referencia</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Descricao)">
                                                    <span>@item.Descricao</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Quantidade)">
                                                    <span>@item.Quantidade</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Publicador!.Nome)">
                                                    <span>@item.Publicador!.Nome</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.EstadoPedido!)">
                                                    <span>@item.EstadoPedido!.Descricao</span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                                        <button class="button is-success is-fullwidth is-large mr-1" onclick="Bulma('#modalAtualizarEstado').modal().open();document.getElementById('txtEstado').value = '@item.EstadoPedido.Descricao'; document.getElementById('txtQtdPedido').value = @item.Quantidade;document.getElementById('txtHiddenStamp').value = '@item.Stamp'">
                                                            <i class="fa-solid fa-arrows-rotate"></i>
                                                        </button>
                                                        <button class="button is-danger is-fullwidth is-large"
                                                                onclick="ConfirmApagarEspecial('@item.Stamp')">
                                                            <i class="fas fa-trash-can"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </li>
                <li>
                    @if (Model.Where(l => l.Tipo!.Id == 7).Count() == 0)
                    {
                        <br />
                        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
                            Não foram encontrados
                            pedidos especiais!
                        </button>
                    }
                    else
                    {
                        <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">
                                <table class="table is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Referencia)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Descricao)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Quantidade)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Publicador!.Nome)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(l => l.Tipo!.Id == 7))
                                        {
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Referencia)">
                                                    <span>@item.Referencia</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Descricao)">
                                                    <span>@item.Descricao</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Quantidade)">
                                                    <span>@item.Quantidade</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Publicador!.Nome)">
                                                    <span>@item.Publicador!.Nome</span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                                        <button class="button is-danger is-fullwidth is-large"
                                                                onclick="ConfirmApagarPeriodico('@item.Stamp')">
                                                            <i class="fas fa-trash-can"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>


<div id="modalPedidoPublicacoes" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span>Pedido - Publicações</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <label class="label">Publicador</label>
                    <div class="field has-addons">
                        <div class="control has-icons-left" style="width:100%">
                            <span class="select is-fullwidth">
                                <select class="select" id="txtIdPublicador" style="height: auto"
                                        asp-items="@(new SelectList(@ViewBag.Publicadores, "Value", "Text"))">
                                </select>
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user-tie"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button type="button" class="button is-info disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtIdPublicador').value=0;">
                                <span class="icon">
                                    <i class="fas fa-shop"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="txtPubStamp" />
                <div class="field">
                    <label class="label">Publicação</label>
                    <p class="control ">
                        <input type="text" class="input" id="txtPub">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Quantidade</label>
                    <div class="field has-addons">
                        <div class="control">
                            <button type="button" class="button is-danger disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtd').value = parseInt(document.getElementById('txtQtd').value) - 1">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <div class="control" style="width:100%">
                            <input type="number" class="input has-text-centered" min="1" id="txtQtd" value="1">
                        </div>
                        <div class="control">
                            <button type="button" class="button is-success disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtd').value = parseInt(document.getElementById('txtQtd').value) + 1">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-info is-large is-fullwidth"
               onclick="CriarPedidoEspecial(document.getElementById('txtPubStamp').value, document.getElementById('txtQtd').value, document.getElementById('txtIdPublicador').value)">
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
                <span>
                    Guardar
                </span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalPedidoPublicacoes').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalPedidoPeriodicos" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span>Pedido - Periódicos</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <label class="label">Publicador</label>
                    <p class="control has-icons-left">
                        <span class="select is-fullwidth">
                            <select class="select" id="txtIdPublicador2" style="height: auto"
                                    asp-items="@(new SelectList(@ViewBag.Publicadores, "Value", "Text"))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-user-tie"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <div class="control" style="width:100%">
                        <label class="label" l>Escolha a publicação:</label>
                        <p class="control has-icons-left">
                            <span class="select is-fullwidth" style="width:100%">
                                <select class="select" id="periodico" style="height: auto"
                                        asp-items="@(new SelectList(@ViewBag.Periodicos, "Value", "Text"))">
                                </select>
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fas fa-newspaper"></i>
                            </span>
                        </p>

                    </div>
                </div>
                <div class="field">
                    <label class="label">Quantidade</label>
                    <div class="field has-addons">
                        <div class="control">
                            <button type="button" class="button is-danger disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtdPeriodico').value = parseInt(document.getElementById('txtQtdPeriodico').value) - 1">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <div class="control" style="width:100%">
                            <input type="number" class="input has-text-centered" min="1" id="txtQtdPeriodico" value="1">
                        </div>
                        <div class="control">
                            <button type="button" class="button is-success disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtdPeriodico').value = parseInt(document.getElementById('txtQtdPeriodico').value) + 1">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-info is-large is-fullwidth"
               onclick="CriarPedidoPeriodico(document.getElementById('periodico').value, document.getElementById('txtQtdPeriodico').value, document.getElementById('txtIdPublicador2').value)">
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
                <span>Guardar</span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalPedidoPeriodicos').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="ModalConfirmApagarPeriodico">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Apagar Pedido Periodico</span>
            </p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja apagar este pedido periodico?</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger is-fullwidth is-large"
                    onclick="ApagarPeriodico(document.getElementById('txtHiddenStamp').value);">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Confirmar</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#ModalConfirmApagarPeriodico').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="ModalConfirmApagarEspecial">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Apagar Pedido Especial</span>
            </p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja apagar este pedido especial?</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger is-fullwidth is-large"
                    onclick="ApagarEspecial(document.getElementById('txtHiddenStamp').value);">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Confirmar</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#ModalConfirmApagar').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalAtualizarEstado" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fa-solid fa-pencil"></i>
                </span>
                <span>Pedido - Publicações</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <label class="label">Estado</label>
                    <div class="field has-addons">
                        <div class="control has-icons-left" style="width:100%">
                            <span class="select is-fullwidth">
                                <select class="select" id="txtEstado" style="height: auto"
                                        asp-items="@(new SelectList(@ViewBag.Estados, "Value", "Text"))">
                                </select>
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                        </div>
                        <div class="field has-addons has-addons-right">
                            <p class="control">
                                <button type="button" class="button is-warning disable-dbl-tap-zoom"
                                        onclick="document.getElementById('txtEstado').selectedIndex=0;">
                                    <span class="icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </span>
                                </button>
                            </p>
                            <p class="control">
                                <button type="button" class="button is-info disable-dbl-tap-zoom"
                                        onclick="document.getElementById('txtEstado').selectedIndex=1;">
                                    <span class="icon">
                                        <i class="fa-solid fa-envelope"></i>

                                    </span>
                                </button>
                            </p>
                            <p class="control">
                                <button type="button" class="button is-primary disable-dbl-tap-zoom"
                                        onclick="document.getElementById('txtEstado').selectedIndex=2;">
                                    <span class="icon">
                                        <i class="fa-solid fa-truck-fast"></i>
                                    </span>
                                </button>
                            </p>
                            <p class="control">
                                <button type="button" class="button is-success disable-dbl-tap-zoom"
                                        onclick="document.getElementById('txtEstado').selectedIndex=3;">
                                    <span class="icon">
                                        <i class="fa-solid fa-check-double"></i>
                                    </span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Quantidade</label>
                    <div class="field has-addons">
                        <div class="control">
                            <button type="button" class="button is-danger disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtdPedido').value = parseInt(document.getElementById('txtQtdPedido').value) - 1">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <div class="control" style="width:100%">
                            <input type="number" class="input has-text-centered" min="1" id="txtQtdPedido" value="1">
                        </div>
                        <div class="control">
                            <button type="button" class="button is-success disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtdPedido').value = parseInt(document.getElementById('txtQtdPedido').value) + 1">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-info is-large is-fullwidth"
               onclick="AtualizarPedidoEspecial(document.getElementById('txtHiddenStamp').value, document.getElementById('txtQtdPedido').value, document.getElementById('txtEstado')[document.getElementById('txtEstado').selectedIndex].text)">
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
                <span>
                    Guardar
                </span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalAtualizarEstado').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="modalMailPedidos">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-paper-plane"></i>
                </span>
                <span>Enviar Listagem - Pedidos Especiais</span>
            </p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja enviar todos os pedidos pendentes para o email indicado abaixo?</p>
                &nbsp;                <div class="control" style="width:100%">
                    <input type="email" class="input has-text-centered" id="txtEmailPedidos" value="jfmmonteiro1997@gmail.com">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info is-fullwidth is-large"
                    onclick="EnviarEmailPedidosPendentes(document.getElementById('txtEmailPedidos').value);">
                <span class="icon">
                    <i class="fas fa-paper-plane"></i>
                </span>
                <span>Enviar</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#modalMailPedidos').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
        </footer>
    </div>
</div>

<input id="txtHiddenStamp" hidden />

<script>
    function ConfirmApagarPeriodico(id) {
        document.getElementById('txtHiddenStamp').value = id;
        Bulma('#ModalConfirmApagarPeriodico').modal().open();
    }

    function ApagarPeriodico(id) {
        $.ajax({
            url: '/Literatura/Periodico/',
            data: { "id": id },
            type: "DELETE",
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                notifyError('Ocorreu um erro ao apagar essa publicação!');
            },
            failure: function (data) {
                notifyError('Falha ao apagar essa publicação!');
            }
        });
    }

    function ConfirmApagarEspecial(id) {
        document.getElementById('txtHiddenStamp').value = id;
        Bulma('#ModalConfirmApagarEspecial').modal().open();
    }

    function ApagarPeriodico(id) {
        $.ajax({
            url: '/Literatura/Periodico/',
            data: { "id": id },
            type: "DELETE",
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                notifyError('Ocorreu um erro ao apagar essa publicação!');
            },
            failure: function (data) {
                notifyError('Falha ao apagar essa publicação!');
            }
        });
    }

    function ApagarEspecial(id) {
        $.ajax({
            url: '/Literatura/Pedido/',
            data: { "id": id },
            type: "DELETE",
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                notifyError('Ocorreu um erro ao apagar essa publicação!');
            },
            failure: function (data) {
                notifyError('Falha ao apagar essa publicação!');
            }
        });
    }

    $(function () {
        $("#txtPub").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Literatura/Literaturas/',
                    data: { "filtro": request.term, "periodico": false },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: "[" + item.referencia + "] " + item.descricao,
                                val: item.stamp
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao obter as publicações!');
                    },
                    failure: function (response) {
                        notifyError('Falha ao obter as publicações');
                    }
                });
            },
            select: function (e, i) {
                $("#txtPubStamp").val(i.item.val);
            },
            minLength: 1
        }).css('z-index', 50);
    });

    function CriarPedidoPeriodico(referencia, qtd, idpub) {
        $.ajax({
            url: '/Literatura/Periodico/',
            data: { "referencia": referencia, "idpub": idpub, "qtd": qtd },
            type: "POST",
            success: function (data) {
                notify('Pedido periodico criada com sucesso!');
                window.location.reload();
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao criar o pedido periodico!');
            },
            failure: function (response) {
                notifyError('Falha ao criar o pedido periodico!');
            }
        });
    }

    function CriarPedidoEspecial(stamp, qtd, idpub) {
        $.ajax({
            url: '/Literatura/Pedido/',
            data: { "stamp": stamp, "idpub": idpub, "qtd": qtd },
            type: "POST",
            success: function (data) {
                notify('Pedido especial criada com sucesso!');
                window.location.reload();
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao criar o pedido especial!');
            },
            failure: function (response) {
                notifyError('Falha ao criar o pedido especial!');
            }
        });
    }

    function AtualizarPedidoEspecial(stamp, qtd, estado) {
        $.ajax({
            url: '/Literatura/Pedido/',
            data: { "stamp": stamp, "qtd": qtd, "estado": estado },
            type: "PUT",
            success: function (data) {
                notify('Pedido especial atualizado com sucesso!');
                window.location.reload();
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao atualizado o pedido especial!');
            },
            failure: function (response) {
                notifyError('Falha ao atualizado o pedido especial!');
            }
        });
    }

    function EnviarEmailPedidosPendentes(email) {
        $.ajax({
            url: '/Literatura/Pedidos/',
            data: { "email": email },
            type: "POST",
            success: function (data) {
                notify('Pedidos especiais enviados com sucesso!');
                window.location.reload();
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao enviar os pedidos especiais!');
            },
            failure: function (response) {
                notifyError('Falha ao enviar os pedidos especiais!');
            }
        });
    }
</script>