@model IEnumerable<JW_Management.Models.Movimentos>
@{
    ViewData["Title"] = "Literatura - Entradas";
}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </span>
                            <span>Saidas</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field has-addons has-addons-right mx-1 is-flex-wrap-wrap" style="width:100%">
                <form style="width:100%">
                    <p class="control has-icons-left">
                        <input class="input" type="date"
                               value="@(DateTime.Parse(ViewData["Data"]!.ToString()!).ToString("yyyy-MM-dd"))" id="txtData"
                               name="data" />
                        <script>
                            bulmaCalendar.attach('#txtData', {
                                color: 'info',
                                lang: 'pt',
                                dateFormat: 'dd/MM/yyyy',
                                todayLabel: 'Hoje',
                                showClearButton: false,
                                cancelLabel: 'Cancelar'
                            });
                            document.getElementById('txtData').bulmaCalendar.on('select', function (datepicker) {
                                document.getElementById('txtData').value = datepicker.data.value();
                                $('form').submit();
                            });</script>
                    </p>
                </form>
                <div class="buttons has-addons is-right mt-2">
                    <p class="control">
                        <button type="button" class="button is-info is-large is-fullwidth "
                                onclick="Bulma('#modalSaidaPublicacoes').modal().open();">
                            <span class="icon">
                                <i class="fa-solid fa-book"></i>
                            </span>
                            <span>Publicações</span>
                        </button>
                    </p>
                    <p class="control">
                        <a class="button is-primary is-large is-fullwidth " href="~/Literatura/Periodicos">
                            <span class="icon">
                                <i class="fa-solid fa-newspaper"></i>
                            </span>
                            <span>Periódicos</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    @if (Model.Count() == 0)
    {
        <br />
        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
            Não foram encontrados
            movimentos!
        </button>
    }
    else
    {
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Literatura!.Referencia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Literatura!.Descricao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Quantidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Publicador!.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.DataMovimento)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="is-image-cell">
                                    <div class="image">
                                        <img src="@item.Literatura!.Imagem">
                                    </div>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Literatura!.Descricao)">
                                    <span>@item.Literatura!.Referencia</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Literatura!.Descricao)">
                                    <span>@item.Literatura!.Descricao</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Quantidade)">
                                    <span>@item.Quantidade</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Publicador!.Nome)">
                                    <span>@item.Publicador!.Nome</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.DataMovimento)">
                                    <span>@item.DataMovimento</span>
                                </td>
                                <td class="is-actions-cell">
                                    <div class="field has-addons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                        <button class="button is-danger is-fullwidth is-large"
                                                onclick="ConfirmApagar('@item.Stamp')">
                                            <i class="fas fa-trash-can"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<div id="modalSaidaPublicacoes" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-minus"></i>
                </span>
                <span>Saida - Publicações</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <label class="label">Publicador</label>
                    <div class="field has-addons">
                        <div class="control has-icons-left" style="width:100%">
                            <span class="select is-fullwidth">
                                <select class="select" id="txtIdPublicador" style="height: auto"
                                        asp-items="@(new SelectList(@ViewBag.Publicadores, "Value", "Text"))">
                                </select>
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user-tie"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button type="button" class="button is-info disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtIdPublicador').value=999999;">
                                <span class="icon">
                                    <i class="fas fa-shop"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="field ">
                    <label class="label">Publicação</label>
                    <div class="field has-addons">
                        <div class="control" style="width:100%">
                            <input type="hidden" id="txtPubStamp" />
                            <p class="control">
                                <input type="text" class="input" id="txtPub">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Quantidade</label>
                    <div class="field has-addons">
                        <div class="control">
                            <button type="button" class="button is-danger disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtd').value = parseInt(document.getElementById('txtQtd').value) - 1">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <div class="control" style="width:100%">
                            <input type="number" class="input has-text-centered" min="1" id="txtQtd" value="1">
                        </div>
                        <div class="control">
                            <button type="button" class="button is-success disable-dbl-tap-zoom"
                                    onclick="document.getElementById('txtQtd').value = parseInt(document.getElementById('txtQtd').value) + 1">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <a class="button is-info is-large is-fullwidth"
               onclick="GerarMovimento(document.getElementById('txtPubStamp').value, document.getElementById('txtQtd').value, document.getElementById('txtIdPublicador').value)">
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
                <span>Guardar</span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalSaidaPublicacoes').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
            </div>
        </footer>
    </div>
</div>

<div class="modal" id="ModalConfirmApagar">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Apagar Movimento</span>
            </p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja apagar este movimento?</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <button class="button is-danger is-fullwidth is-large"
                    onclick="Apagar(document.getElementById('txtHiddenStamp').value);">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Confirmar</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#ModalConfirmApagar').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
            </div>
        </footer>
    </div>
</div>
<input id="txtHiddenStamp" hidden />

<script>
    function ConfirmApagar(id) {
        document.getElementById('txtHiddenStamp').value = id;
        Bulma('#ModalConfirmApagar').modal().open();
    }

    function Apagar(id) {
        $.ajax({
            url: '/Literatura/Movimentos/',
            data: { "stamp": id },
            type: "DELETE",
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                notifyError('Ocorreu um erro ao apagar essa publicação!');
            },
            failure: function (data) {
                notifyError('Falha ao apagar essa publicação!');
            }
        });
    }

    $(function () {
        $("#txtPub").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Literatura/Literaturas/',
                    data: { "filtro": request.term, "periodico": false },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: "[" + item.referencia + "] " + item.descricao,
                                val: item.stamp
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao obter as publicações!');
                    },
                    failure: function (response) {
                        notifyError('Falha ao obter as publicações');
                    }
                });
            },
            select: function (e, i) {
                $("#txtPubStamp").val(i.item.val);
            },
            minLength: 1
        }).css('z-index', 50);
    });


    function GerarMovimento(stamp, qtd, idpub) {
        $.ajax({
            url: '/Literatura/Movimentos/',
            data: { "stamp": stamp, "qtd": -qtd, "idpub": 0 },
            type: "POST",
            success: function (data) {
                $.ajax({
                    url: '/Literatura/Movimentos/',
                    data: { "stamp": stamp, "qtd": qtd, "idpub": idpub },
                    type: "POST",
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao gerar um movimento!');
                    },
                    failure: function (response) {
                        notifyError('Falha ao gerar um movimento!');
                    }
                });
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao gerar um movimento!');
            },
            failure: function (response) {
                notifyError('Falha ao gerar um movimento!');
            }
        });
    }
</script>