@model JW_Management.Models.Congregacao
@{
    ViewData["Title"] = "Congregacao";
}

<form asp-action="Index" method="get" id="frmFiltrar">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-newspaper"></i>
                                </span>
                                <span>@Model.Id - @Model.Nome</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />

<div class="container">
    @if (Model.Paragens.Count() == 0)
    {
        <br />
        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
            Não foram encontradas
            paragens proximas!
        </button>
    }
    else
    {
            <div class="columns is-gapless">
                <div class="column mx-1">
                    <div class="card has-table has-mobile-sort-spaced">
                        <header class="card-header has-background-success">
                            <p class="card-header-title" style="color:#ffffff">Paragens Próximas</p>
                            <button class="button is-pulled-right m-2">@Model.Paragens.Count()</button>
                        </header>
                        <div class="card-content">
                            <div class="b-table">
                                <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            
                                            <th>
                                                @Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.Tipo.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.NomeParagem)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.Distancia)
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model.Paragens)
                                        {
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.Tipo.Nome)">
                                                    <span>@item.Tipo.Nome</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.NomeParagem)">
                                                    <span>@item.NomeParagem </span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.Distancia)">
                                                    <span>@item.Distancia metros </span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    <a class="button is-info is-fullwidth" href="@(Url.Action("Paragem", "Congressos", new { id = item.Id, IdIC = @item.Congresso.Id }))">Ver Paragem</a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }
</div>
