@model JW_Management.Models.Congregacao
@{
    ViewData["Title"] = "Congregacao";
}

<form asp-action="Index" method="get" id="frmFiltrar">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-newspaper"></i>
                                </span>
                                <span>@Model.Id - @Model.Nome</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="buttons">
                    <a class="button is-success is-fullwidth" href="https://www.google.com/maps/dir/?api=1&origin=@Model.Latitude,@Model.Longitude&destination=@Model.Congresso.Latitude,@Model.Congresso.Longitude&travelmode=transit">Congregação -> Congresso</a>
                    <a class="button is-link is-fullwidth" onclick="Bulma('#modalRecomendacao').modal().open()">Definir Recomendação</a>
                    <a class="button is-link is-fullwidth" onclick="Bulma('#modalRecomendacaoManual').modal().open()">Definir Recomendação Manual</a>
                    </div>
            </div>
        </div>
    </div>
</form>
<hr />

<div class="container">
    @if (Model.Recomendacoes.Count() == 0)
    {
        <br />
        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
            Não foram encontradas
            recomendações!
        </button>
    }
    else
    {
        foreach (var r in Model.Recomendacoes)
        {
            <div class="columns is-gapless">
                <div class="column mx-1">
                    <div class="card has-table has-mobile-sort-spaced">
                        <header class="card-header has-background-success">
                            <p class="card-header-title" style="color:#ffffff">Recomendação Nº @r.Sequencia</p>
                            <div class="field is-grouped">
                                <button class="button is-danger m-2 is-fullwidth" onclick="ApagarRecomendacao('@r.Id')">
                                    <span class="has-icons-left"><i class="fa fa-trash"></i></span>
                                </button>
                                <button class="button is-primary m-2 is-fullwidth" onclick="navigator.clipboard.writeText('@r.Paste');notify('Copiado para o seu clipboard!')">
                                    <span class="has-icons-left"><i class="fa fa-copy"></i></span>
                                </button>
                                <button class="button is-pulled-right m-2">@r.Linhas.Count()</button>
                                </div>
                            
                        </header>
                        <div class="card-content">
                            <div class="b-table">
                                <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.Sequencia)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.TipoTransporte)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.Rota)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.Viagem_Paragem.Paragem)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.Viagem_Paragem.Viagem)
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in r.Linhas)
                                        {
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.Sequencia)">
                                                    <span><button class="button is-success">@item.Sequencia</button></span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.TipoTransporte)">
                                                    <span>@item.TipoTransporte.Nome </span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.Rota)">
                                                    <span>@item.Rota.Nome </span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.Viagem_Paragem.Paragem)">
                                                    <span>@item.Viagem_Paragem.Paragem.NomeParagem</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => r.Linhas.FirstOrDefault()!.Viagem_Paragem.Viagem)">
                                                    <span>@item.Viagem_Paragem.Viagem.Destino</span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }
        
            
    }
</div>
<hr/>
<div class="container">
    @if (Model.Paragens.Count() == 0)
    {
        <br />
        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
            Não foram encontradas
            paragens proximas!
        </button>
    }
    else
    {
            <div class="columns is-gapless">
                <div class="column mx-1">
                    <div class="card has-table has-mobile-sort-spaced">
                        <header class="card-header has-background-success">
                            <p class="card-header-title" style="color:#ffffff">Paragens Próximas</p>
                            <button class="button is-pulled-right m-2">@Model.Paragens.Count()</button>
                        </header>
                        <div class="card-content">
                            <div class="b-table">
                                <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            
                                            <th>
                                                @Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.Tipo.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.NomeParagem)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.Distancia)
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model.Paragens)
                                        {
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.Tipo.Nome)">
                                                    <span>@item.Tipo.Nome</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.NomeParagem)">
                                                    <span>@item.NomeParagem </span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Paragens.FirstOrDefault()!.Distancia)">
                                                    <span>@item.Distancia metros </span>
                                                </td>
                                                <td class="is-actions-cell">
                                                <div class="buttons">
                                                    <a class="button is-success is-fullwidth" href="https://www.google.com/maps/dir/?api=1&origin=@Model.Latitude,@Model.Longitude&destination=@item.Latitude,@item.Longitude&travelmode=driving">Congregação -> Paragem</a>
                                                    <a class="button is-info is-fullwidth" href="@(Url.Action("Paragem", "Congressos", new { id = item.Id, IdIC = @item.Congresso.Id }))">Ver Paragem</a>
                                                    <a class="button is-primary is-fullwidth" href="https://www.google.com/maps/dir/?api=1&origin=@item.Latitude,@item.Longitude&destination=@item.Congresso.Latitude,@item.Congresso.Longitude&travelmode=transit">Paragem -> Congresso</a>
                                                </div>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }
</div>


<div id="modalRecomendacao" class="modal">
    <div class="modal-background"></div>
    <form action="/Congressos/@Model.Congresso.Id/Congregacao/@Model.Id/Recomendacao" method="post">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <span class="icon">
                        <i class="fas fa-circle-plus"></i>
                    </span>
                    <span>Recomendacao</span>
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div id="transportesContainer">
                    <div class="field">
                        <label class="label">Tipo de Transporte</label>
                        <p class="control has-icons-left">
                            <span class="select is-fullwidth">
                                <span class="icon"><i class="fa-regular fa-train"></i></span>
                                <select name="Linhas[0].TipoTransporte.Id" onchange="ObterRotas(this.value)" id="lstTipo">
                                    <option value="0">Selecione o tipo de transporte:</option>
                                    <option value="1">STCP</option>
                                    <option value="2">CP</option>
                                    <option value="3">Metro do Porto</option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Linhas</label>
                        <p class="control has-icons-left">
                            <span class="icon"><i class="fa-regular fa-line-chart"></i></span>
                            <span class="select is-fullwidth">
                                <select name="Linhas[0].Rota.Nome" onchange="ObterViagens(this.options[this.selectedIndex].text, document.getElementById('lstTipo').value);" id="lstRotas">
                                    <option value="0">Selecione a linha:</option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Direção</label>
                        <p class="control has-icons-left">
                            <span class="icon"><i class="fa-regular fa-arrow-circle-right"></i></span>
                            <span class="select is-fullwidth">
                                <select name="Linhas[0].Viagem_Paragem.Viagem.Destino" onchange="ObterParagens(this.options[this.selectedIndex].text, document.getElementById('lstTipo').value, document.getElementById('lstRotas').options[document.getElementById('lstRotas').selectedIndex].text);" id="lstViagens">
                                    <option value="0">Selecione a direção:</option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Estação</label>
                        <p class="control has-icons-left">
                            <span class="icon"><i class="fa-regular fa-timeline"></i></span>
                            <span class="select is-fullwidth">
                                <select name="Linhas[0].Viagem_Paragem.Paragem.NomeParagem" id="lstParagens">
                                    <option value="0">Selecione a estação:</option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Horário</label>
                        <div class="field">
                            <label class="label">Horário</label>
                            <div class="control has-icons-left">
                                <span class="icon"><i class="fa-regular fa-clock"></i></span>
                                <input class="input" name="Linhas[0].Viagem_Paragem.DataPartida" type="text"/>
                            </div>
                        </div>
                    </div>                        
                    <div class="field">
                        <label class="label">Transbordo</label>
                        <p class="control has-icons-left">
                            <span class="icon"><i class="fa-regular fa-arrow-down-1-9"></i></span>
                            <input class="input" name="Linhas[0].Sequencia" value="1" type="number"/>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Recomendação</label>
                        <p class="control has-icons-left">
                            <span class="select is-fullwidth">
                                <span class="icon"><i class="fa-regular fa-list-1-2"></i></span>
                                <select name="Sequencia" >
                                    <option value="1">Primeira</option>
                                    <option value="2">Segunda</option>
                                    <option value="3">Terceira</option>
                                </select>
                            </span>
                        </p>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <div class="field is-grouped">
                    <button type="submit" class="button is-info is-large is-fullwidth" style="width: 100%">
                        <span class="icon"><i class="fa-regular fa-floppy-disk"></i></span>
                        <span>Guardar</span>
                    </button>
                    <button type="button" class="button is-large is-fullwidth is-danger" style="width: 100%" onclick="Bulma('#modalRecomendacao').modal().close();">
                        <span class="icon"><i class="fa-regular fa-circle-xmark"></i></span>
                        <span>Fechar</span>
                    </button>
                </div>
            </footer>
        </div>
    </form>
</div>

<div id="modalRecomendacaoManual" class="modal">
    <div class="modal-background"></div>
    <form action="/Congressos/@Model.Congresso.Id/Congregacao/@Model.Id/Recomendacao" method="post">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <span class="icon">
                        <i class="fas fa-circle-plus"></i>
                    </span>
                    <span>Recomendacao</span>
                </p>
                <button type="button" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div id="transportesContainer">
                        <div class="field">
                            <label class="label">Tipo de Transporte</label>
                            <div class="control has-icons-left">
                                <span class="icon"><i class="fa-regular fa-train"></i></span>
                                <input class="input" name="Linhas[0].TipoTransporte.Nome" type="text"/>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Linhas</label>
                            <div class="control has-icons-left">
                                <span class="icon"><i class="fa-regular fa-line-chart"></i></span>
                                <input class="input" name="Linhas[0].Rota.Nome" type="text"/>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Direção</label>
                            <div class="control has-icons-left">
                                <span class="icon"><i class="fa-regular fa-arrow-circle-right"></i></span>
                                <input class="input" name="Linhas[0].Viagem_Paragem.Viagem.Destino" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Estação</label>
                            <div class="control has-icons-left">
                                <span class="icon"><i class="fa-regular fa-timeline"></i></span>
                                <input class="input" name="Linhas[0].Viagem_Paragem.Paragem.NomeParagem" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Horário</label>
                            <div class="control has-icons-left">
                                <span class="icon"><i class="fa-regular fa-clock"></i></span>
                                <input class="input" name="Linhas[0].Viagem_Paragem.DataPartida" type="text"/>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Transbordo</label>
                            <p class="control has-icons-left">
                                <span class="icon"><i class="fa-regular fa-arrow-down-1-9"></i></span>
                                <input class="input" name="Linhas[0].Sequencia" value="1" type="number"/>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Recomendação</label>
                            <p class="control has-icons-left">
                                <span class="select is-fullwidth">
                                    <span class="icon"><i class="fa-regular fa-list-1-2"></i></span>
                                    <select name="Sequencia" >
                                        <option value="1">Primeira</option>
                                        <option value="2">Segunda</option>
                                        <option value="3">Terceira</option>
                                    </select>
                                </span>
                            </p>
                        </div>
                    </div>
            </section>
            <footer class="modal-card-foot">
                <div class="field is-grouped">
                <button type="submit" class="button is-info is-large is-fullwidth" style="width: 100%">
                    <span class="icon"><i class="fa-regular fa-floppy-disk"></i></span>
                    <span>Guardar</span>
                </button>
                <button type="button" class="button is-large is-fullwidth is-danger" style="width: 100%" onclick="Bulma('#modalRecomendacao').modal().close();">
                    <span class="icon"><i class="fa-regular fa-circle-xmark"></i></span>
                    <span>Fechar</span>
                </button>
                </div>
            </footer>
        </div>
    </form>
</div>

<script>

    function ObterRotas(id) {
        document.getElementById('lstRotas').innerHTML = '';
        $.ajax({
            url: '/Congressos/@Model.Congresso.Id/Tipo/' + id + '/Rotas',
            type: 'GET',
            success: function(data) {
                $('#lstRotas').append('<option value="0">Selecione uma linha</option>');
                $.each(data, function(index, r) {
                    $('#lstRotas').append('<option value="' + r.nome + '">' + r.nome + '</option>');
                });
            }
        });
    }

    function ObterViagens(id, tipoTransporte) {
        document.getElementById('lstViagens').innerHTML = '';
        $.ajax({
            url: '/Congressos/@Model.Congresso.Id/Tipo/' + tipoTransporte + '/Rotas/' + id + '/Viagens',
            type: 'GET',
            success: function(data) {
                $('#lstViagens').append('<option value="0">Selecione um destino</option>');
                $.each(data, function(index, v) {
                    $('#lstViagens').append('<option value="' + v.destino + '">' + v.destino + '</option>');
                });
            }
        });
    }

    function ObterParagens(id, tipoTransporte, rota) {
        document.getElementById('lstParagens').innerHTML = '';
        
        $.ajax({
            url: '/Congressos/@Model.Congresso.Id/Tipo/' + tipoTransporte + '/Rotas/' + rota + '/Viagens/' + id + '/Paragens',
            type: 'GET',
            success: function(data) {
                $('#lstParagens').append('<option value="0">Selecione uma estação</option>');
                $.each(data, function(index, v) {
                    $('#lstParagens').append('<option value="' + v.nomeParagem + '">' + v.nomeParagem + '</option>');
                });
            }
        });
    }

    function ObterHorarios(id, tipoTransporte, rota, direcao) {
        document.getElementById('lstHorarios').innerHTML = '';
        
        $.ajax({
            url: '/Congressos/@Model.Congresso.Id/Tipo/' + tipoTransporte + '/Rotas/' + rota + '/Viagens/' + direcao + '/Horarios/' + id,
            type: 'GET',
            success: function(data) {
                $('#lstHorarios').append('<option value="0">Selecione um horário</option>');
                $.each(data, function(index, h) {
                    $('#lstHorarios').append('<option value="' +moment(h.dataPartida).format('HH:mm') + '">' + moment(h.dataPartida).format('HH:mm') + '</option>');
                });
            }
        });
    }

    function ApagarRecomendacao(id) {
        $.ajax({
            url: '/Congressos/@Model.Congresso.Id/Congregacao/@Model.Id/Recomendacao/' + id,
            type: 'DELETE',
            success: function(data) {
                window.location.reload();
            }
        });
    }

</script>