@model IEnumerable<JW_Management.Models.Territorio>
@{
    ViewData["Title"] = "Territorio";
}

<form asp-action="Index" method="get" id="frmFiltrar">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-map"></i>
                                </span>
                                <span>Territorios</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons has-addons-right mx-1 is-flex-wrap-wrap" style="width:100%">
                    <p class="control has-icons-left">
                        <input type="text" class="input" placeholder="Descrição" id="filtro" name="filtro"
                               value="@ViewData["filtro"]">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        </span>
                    </p>
                    <div class="buttons is-right mt-2">
                        <p class="control">
                            <button type="submit" class="button is-info is-outlined is-fullwidth ">
                                <span class="icon">
                                    <i class="fas fa-search fa-lg"></i>
                                </span>
                                <span>Pesquisar</span>
                            </button>
                        </p>
                        <p class="control">
                            <a type="button" href="~/Territorios" class="button is-fullwidth ">
                                <span class="icon">
                                    <i class="fas fa-backspace fa-lg"></i>
                                </span>
                                <span>Limpar</span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-info is-fullwidth " onclick="Bulma('#modalNovoTerritorio').modal().open();">
                                <span class="icon">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </span>
                                <span>Adicionar</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container">
    @if (Model.Count() == 0)
    {
        <br />
        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
            Não foram encontrados
            territórios!
        </button>
    }
    else
    {
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Dificuldade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.UltimoMovimento!.Publicador!)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.UltimoMovimento!.DataMovimento!)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Id)">
                                    <span>@item.Id</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Nome)">
                                    <span>@item.Nome</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Dificuldade)">
                                    <span>@item.Dificuldade</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.UltimoMovimento!.Publicador!)">
                                    <span>@item.UltimoMovimento?.Publicador?.Nome</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.UltimoMovimento!.DataMovimento!)">
                                    <span>@item.UltimoMovimento?.DataMovimento</span>
                                </td>
                                <td class="is-actions-cell">
                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                        @if (item.UltimoMovimento?.Publicador?.Id == 0 || item.UltimoMovimento?.Publicador == null)
                                        {
                                            <button class="button is-info is-fullwidth is-large mr-1"
                                                    onclick="CriarMovimento('@item.Stamp', 1, document.getElementById('txtIdPublicador').value)">
                                                <i class="fa-solid fa-file-circle-check"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="button is-success is-fullwidth is-large mr-1"
                                                    onclick="CriarMovimento('@item.Stamp', 2, @item.UltimoMovimento?.Publicador?.Id)">
                                                <i class="fa-solid fa-file-circle-xmark"></i>
                                            </button>
                                        }

                                        <a class="button is-warning is-fullwidth is-large mr-1"
                                           href="~/Territorios/Territorio/@item.Stamp">
                                            <i class="fas fa-pencil"></i>
                                        </a>
                                        <button class="button is-danger is-fullwidth is-large"
                                                onclick="ConfirmApagarTerritorio('@item.Stamp')">
                                            <i class="fas fa-trash-can"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>


<div id="modalNovoTerritorio" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span>Novo - Território</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <label class="label">Núm. do Território</label>
                    <p class="control">
                        <input type="text" class="input" id="txtIdTerritorio">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Nome do Território</label>
                    <p class="control">
                        <input type="text" class="input" id="txtNomeTerritorio">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Dificuldade</label>
                    <p class="control has-icons-left">
                        <span class="select is-fullwidth">
                            <select class="select" id="txtDificuldadeTerritorio" style="height: auto">
                                <option value="1">FÁCIL</option>
                                <option value="2">MODERADO</option>
                                <option value="3">DIFICIL</option>
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-road"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label">Descrição</label>
                    <p class="control">
                        <textarea type="text" class="textarea" rows="4" id="txtDescricaoTerritorio"></textarea>
                    </p>
                </div>
                <div class="field">
                    <label class="label">URL</label>
                    <p class="control has-icons-left">
                        <span>
                            <input type="text" class="input" id="txtURLTerritorio">
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-qrcode"></i>
                        </span>
                    </p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-info is-large is-fullwidth"
               onclick="CriarTerritorio(document.getElementById('txtIdTerritorio').value, document.getElementById('txtNomeTerritorio').value, document.getElementById('txtDificuldadeTerritorio').value, document.getElementById('txtDescricaoTerritorio').value, document.getElementById('txtURLTerritorio').value)">
                <span class="icon">
                    <i class="fa-solid fa-circle-plus fa-beat-fade"></i>
                </span>
                <span>
                    Criar
                </span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalNovoTerritorio').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalAtribuirTerritorio" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fa-solid fa-file-circle-check"></i>
                </span>
                <span>Atribuir - Territorio</span>
            </p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <label class="label">Publicador</label>
                    <p class="control has-icons-left">
                        <span class="select is-fullwidth">
                            <select class="select" id="txtIdPublicador" style="height: auto" onchange="PreencherEmail(document.getElementById('txtIdPublicador').value)"
                                    asp-items="@(new SelectList(@ViewBag.Publicadores, "Value", "Text"))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-user-tie"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label">Email do Publicador</label>
                    <p class="control">
                        <input type="email" class="input" id="txtEmailPublicador">
                    </p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-success is-large is-fullwidth"
               onclick="GerarMovimento(document.getElementById('txtIdPublicador').value, document.getElementById('txtHiddenStamp').value, document.getElementById('txtEmailPublicador').value, 1)">
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
                <span>Atribuir</span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalAtribuirTerritorio').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="modalDevolverTerritorio">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fa-solid fa-file-circle-xmark"></i>
                </span>
                <span>Devolver - Territorio</span>
            </p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja devolver este território ao stock da Congregação?</p>
            </div>
            &nbsp;
            <div class="field">
                <label class="label">Email do Publicador</label>
                <p class="control">
                    <input type="email" class="input" id="txtEmailPublicadorDevolver">
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success is-fullwidth is-large"
                    onclick="GerarMovimento(0, document.getElementById('txtHiddenStamp').value, document.getElementById('txtEmailPublicadorDevolver').value, 2);">
                <span class="icon">
                    <i class="fa-regular fa-floppy-disk"></i>
                </span>
                <span>Devolver</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#modalDevolverTerritorio').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="ModalConfirmApagar">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Apagar Território</p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja apagar este território e todos os movimentos associados a ele?</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger is-fullwidth is-large"
                    onclick="ApagarTerritorio(document.getElementById('txtHiddenStamp').value);">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Confirmar</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#ModalConfirmApagar').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
        </footer>
    </div>
</div>


<input id="txtHiddenStamp" hidden />

<script>

    function ConfirmApagarTerritorio(id) {
        document.getElementById("txtHiddenStamp").value = id;
        Bulma('#ModalConfirmApagar').modal().open();
    }

    function CriarMovimento(id, tipo, idpub) {
        document.getElementById("txtHiddenStamp").value = id;
        PreencherEmail(idpub);
        if (tipo == 1) {

            Bulma('#modalAtribuirTerritorio').modal().open();
        } else {
            Bulma('#modalDevolverTerritorio').modal().open();
        }
    }

    function CriarTerritorio(id, nome, dificuldade, descricao, url) {
        $.ajax({
            url: '/Territorios/Territorio/',
            data: { "id": id, "nome": nome, "dificuldade": dificuldade, "descricao": descricao, "url": url },
            type: "PUT",
            success: function (data) {
                notify('Territorio criado com sucesso!');
                window.location.reload();
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao criar o territorio!');
            },
            failure: function (response) {
                notifyError('Falha ao criar o territorio!');
            }
        });
    }

    function GerarMovimento(idpub, id, email, tipo) {
        $.ajax({
            url: '/Territorios/Movimento/',
            data: { "id": id, "idpub": idpub, "email": email, "tipo": tipo },
            type: "POST",
            success: function (data) {
                notify('Movimento criado com sucesso!');
                window.location.reload();
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao criar o Movimento!');
            },
            failure: function (response) {
                notifyError('Falha ao criar o Movimento!');
            }
        });
    }

    function ApagarTerritorio(id) {
        $.ajax({
            url: '/Territorios/Territorio/',
            data: { "stamp": id },
            type: "DELETE",
            success: function (data) {
                notify('Territorio apagado com sucesso!');
                window.location.reload();
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao apagar o territorio!');
            },
            failure: function (response) {
                notifyError('Falha ao apagar o territorio!');
            }
        });
    }


    function PreencherEmail(idpub) {
        $.ajax({
            url: '/Publicadores/ObterPublicador/',
            data: { "id": idpub },
            type: "GET",
            success: function (data) {
                document.getElementById('txtEmailPublicador').value = data.email;
                document.getElementById('txtEmailPublicadorDevolver').value = data.email;
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao criar o Movimento!');
            },
            failure: function (response) {
                notifyError('Falha ao criar o Movimento!');
            }
        });
    }

</script>