@model IEnumerable<JW_Management.Models.RegistroTerritorio>
@{
    ViewData["Title"] = "Território - Movimentos";
}

<form asp-action="Index" method="get" id="frmFiltrar">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-map"></i>
                                </span>
                                <span>Território - Movimentos</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container">
    @if (Model.Count() == 0)
    {
        <br />
        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
            Não foram encontrados
            movimentos!
        </button>
    }
    else
    {
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Entrada.Publicador!)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Entrada.Territorio.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Entrada.Territorio.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Entrada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Saida!)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Descricao)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="has-background-@item.CorEstado">
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Entrada.Publicador!)">
                                    <span>@item.Entrada.Publicador.Nome</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Entrada.Territorio.Id)">
                                    <span>@item.Entrada.Territorio.Id</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Entrada.Territorio.Nome)">
                                    <span>@item.Entrada.Territorio.Nome</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Entrada)">
                                    <span>@item.Entrada.DataMovimento.ToShortDateString()</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Saida)">
                                    <span> @(item.Saida.DataMovimento != DateTime.MinValue ? item.Saida.DataMovimento.ToShortDateString() : "")</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault()!.Descricao)">
                                    <span> @item.Descricao</span>
                                </td>
                                <td class="is-actions-cell">
                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                        <button class="button is-danger is-fullwidth is-large"
                                                onclick="document.getElementById('txtHiddenStampEntrada').value = '@item.Entrada.Stamp'; document.getElementById('txtHiddenStampSaida').value = '@item.Saida.Stamp';Bulma('#ModalConfirmApagar').modal().open();">
                                            <i class="fas fa-trash-can"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<div class="modal" id="ModalConfirmApagar">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Apagar Movimentos</p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja apagar estes movimentos? Será como se este territorio nunca tivesse sido levantado!<br /><br /><b> Esta ação é irreversivel!</b></p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger is-fullwidth is-large"
                    onclick="ApagarLinhaMovimento(document.getElementById('txtHiddenStampEntrada').value, document.getElementById('txtHiddenStampSaida').value);">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Confirmar</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#ModalConfirmApagar').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
        </footer>
    </div>
</div>

<input hidden id="txtHiddenStampEntrada" />
<input hidden id="txtHiddenStampSaida" />

<script>

    function ApagarLinhaMovimento(stamp1, stamp2) {
        $.ajax({
            url: '/Territorios/Movimentos/',
            data: { "stampentrada": stamp1, "stampsaida": stamp2 },
            type: "DELETE",
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                notifyError('Ocorreu um erro ao apagar este movimento!');
            },
            failure: function (data) {
                notifyError('Falha ao apagar este movimento!');
            }
        });
    }

</script>