@model IEnumerable<JW_Management.Models.RegistroTerritorio>
@{
    ViewData["Title"] = "Território - Movimentos";
}

<form asp-action="Index" method="get" id="frmFiltrar">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-map"></i>
                                </span>
                                <span>Território - Movimentos</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container">
@if (Model.Count() == 0)
{
<div class="container">
    <br />
    <button class="button is-danger is-fullwidth" disabled>Não foram encontrados registros!</button>
</div>
}
else
{
    <div class="container ">
        <div class="task-container columns is-multiline mx-1">
            @foreach (var item in Model)
            {
                <div class="column is-6">
                    <div class="card">
                        <header class="card-header card-toggle has-background-@item.CorEstado">
                            <button class="button mx-1 is-rounded my-auto" style="background-color:@item.Territorio.CorDificuldade;"><p class="" style="line-height:1;"></p></button>
                            <p class="is-size-6 my-1 has-text-centered column">
                                <b>@item.Territorio.Id</b> - @item.Territorio.Nome
                            </p>
                            <button class="card-header-icon" style="text-align:right" >
                                
                            </button>
                        </header>
                        <div class="card-content has-text-centered">
                            <div class="content">
                                <div class="columns">
                                    <div class="column is-6 m-1" style="border-style:solid;border-radius:16px">
                                        Publicador: <b>@item.Entrada.Publicador.Nome</b>
                                    </div>
                                    <div class="column is-6 m-1" style="border-style:solid;border-radius:16px">
                                        @item.Descricao
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-6 m-1" style="border-style:solid;border-radius:16px">
                                        Levantado a: <b>@item.Entrada.DataMovimento.ToShortDateString()</b>
                                    </div>
                                    <div class="column is-6 m-1" style="border-style:solid;border-radius:16px">
                                        Devolvido a: <b>@(item.Saida.DataMovimento == @DateTime.MinValue ? "-----" :  item.Saida.DataMovimento.ToShortDateString() )</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <div class="container is-12">
                                <div class="buttons has-addons">
                                    <button class="button is-danger is-fullwidth is-large"
                                                onclick="document.getElementById('txtHiddenStampEntrada').value = '@item.Entrada.Stamp'; document.getElementById('txtHiddenStampSaida').value = '@item.Saida.Stamp';Bulma('#ModalConfirmApagar').modal().open();">
                                            <i class="fas fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            }
        </div>
    </div>
}
</div>

<div class="modal" id="ModalConfirmApagar">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Apagar Movimentos</p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja apagar estes movimentos? Será como se este territorio nunca tivesse sido levantado!<br /><br /><b> Esta ação é irreversivel!</b></p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger is-fullwidth is-large"
                    onclick="ApagarLinhaMovimento(document.getElementById('txtHiddenStampEntrada').value, document.getElementById('txtHiddenStampSaida').value);">
                <span class="icon">
                    <i class="fas fa-trash-can"></i>
                </span>
                <span>Confirmar</span>
            </button>
            <button class="button is-fullwidth is-large" onclick="Bulma('#ModalConfirmApagar').modal().close();">
                <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
        </footer>
    </div>
</div>

<input hidden id="txtHiddenStampEntrada" />
<input hidden id="txtHiddenStampSaida" />

<script>

    function ApagarLinhaMovimento(stamp1, stamp2) {
        $.ajax({
            url: '/Territorios/Registros/',
            data: { "stampentrada": stamp1, "stampsaida": stamp2 },
            type: "DELETE",
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                notifyError('Ocorreu um erro ao apagar este movimento!');
            },
            failure: function (data) {
                notifyError('Falha ao apagar este movimento!');
            }
        });
    }

</script>