@model JW_Management.Models.Publicador
@{
    ViewData["Title"] = "Publicador";
}

<form asp-action="Index" method="get" id="frmFiltrar">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-user-tie"></i>
                                </span>
                                <span>Publicador - @Model.Nome</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</form>


<hr />
<div class="container">
    <div class="tabs-wrapper">
        <div class="tabs is-toggle is-toggle-rounded is-fullwidth">
            <ul>
                <li class="is-active"><a>Dados</a></li>
                <li><a>Movimentos</a></li>
                <li><a>Pedidos</a></li>
                <li><a>Territórios</a></li>
            </ul>
        </div>
        <div class="tabs-content mx-2">
            <ul>
                <li class="is-active">
                    <form method="post">
                        <div class="columns is-multiline">
                            <div class="column is-2">
                                <div class="field">
                                    <label class="label" asp-for="Id"></label>
                                    <p class="control ">
                                        <input type="text" class="input" readonly asp-for="Id">
                                    </p>
                                    <span asp-validation-for="Id" class="has-text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label" asp-for="Nome"></label>
                                    <p class="control ">
                                        <input type="text" class="input" readonly asp-for="Nome">
                                    </p>
                                    <span asp-validation-for="Nome" class="has-text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label class="label" asp-for="Grupo"></label>
                                    <p class="control has-icons-left">
                                        <span class="select is-fullwidth">
                                            <select class="select" asp-for="Grupo!.Id" style="height: auto"
                                                    asp-items="@(new SelectList(@ViewBag.Grupos, "Value", "Text", Model.Grupo!.Id))">
                                            </select>
                                        </span>
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-user-group"></i>
                                        </span>
                                    </p>
                                    <span asp-validation-for="Grupo" class="has-text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label class="label" asp-for="Email"></label>
                                    <p class="control ">
                                        <input type="email" class="input" asp-for="Email">
                                    </p>
                                    <span asp-validation-for="Email" class="has-text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="field">
                                    <label class="label" asp-for="Telemovel"></label>
                                    <p class="control ">
                                        <input type="tel" class="input" asp-for="Telemovel">
                                    </p>
                                    <span asp-validation-for="Telemovel" class="has-text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="field">
                                    <label class="label" asp-for="Username"></label>
                                    <p class="control ">
                                        <input type="tel" class="input" readonly asp-for="Username">
                                    </p>
                                    <span asp-validation-for="Username" class="has-text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <label class="label" asp-for="Password"></label>
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <input type="password" class="input" asp-for="Password" value="@Model.PasswordVisivel">
                                    </div>
                                    <span asp-validation-for="Password" class="has-text-danger"></span>
                                    @if (!string.IsNullOrEmpty(Model.Email))
                                    {
                                    <div class="control">
                                        <a type="button" data-tooltip="EnviarSenha" class="button is-fullwidth is-primary" style="height: 100%"
                                                href="@(Url.Action("Senha", "Publicadores", new { Id = Model.Id }))">
                                            <i class="fas fa-mail-forward"></i>
                                        </a>
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="column is-12">
                                <button class="button is-large is-success is-fullwidth" type="submit">
                                    <span class="icon"><i class="fa-regular fa-floppy-disk"></i></span>
                                    <span>Guardar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
                <li>
                    @if (Model.Movimentos!.Count() == 0)
                    {
                        <br />
                        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
                            Não foram encontrados
                            movimentos!
                        </button>
                    }
                    else
                    {
                        <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">
                                <table class="table is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Literatura!.Descricao)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Quantidade)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Publicador!.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.DataMovimento)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Movimentos!)
                                        {
                                            <tr @(item.In ? "class=has-background-success" : "class=has-background-danger")>
                                                <td data-label="@Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Literatura!.Descricao)">
                                                    <span>@item.Literatura!.Descricao</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Quantidade)">
                                                    <span>@item.Quantidade</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Publicador!.Nome)">
                                                    <span>@item.Publicador!.Nome</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.DataMovimento)">
                                                    <span>@item.DataMovimento</span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </li>
                <li>
                    @if (Model.Pedidos!.Count() == 0)
                    {
                        <br />
                        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
                            Não foram encontrados
                            Pedidos!
                        </button>
                    }
                    else
                    {
                        <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">
                                <table class="table is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Referencia)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Descricao)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Quantidade)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Pedidos!)
                                        {
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Referencia)">
                                                    <span>@item.Referencia</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Descricao)">
                                                    <span>@item.Descricao</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Quantidade)">
                                                    <span>@item.Quantidade</span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </li>
                <li>
                    @if (Model.Territorios!.Count() == 0)
                    {
                        <br />
                        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
                            Não foram encontrados
                            territórios a trabalhar!
                        </button>
                    }
                    else
                    {
                        <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">
                                <table class="table is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Territorios!.FirstOrDefault()!.Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Territorios!.FirstOrDefault()!.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Territorios!.FirstOrDefault()!.UltimoMovimento!.DataMovimento)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Territorios!)
                                        {
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model =>  model.Territorios!.FirstOrDefault()!.Id)">
                                                    <span>@item.Id</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model =>  model.Territorios!.FirstOrDefault()!.Nome)">
                                                    <span>@item.Nome</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Territorios!.FirstOrDefault()!.UltimoMovimento!.DataMovimento)">
                                                    <span>@item.UltimoMovimento!.DataMovimento</span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
