@model JW_Management.Models.Publicador
@{
    ViewData["Title"] = "Publicador";
}

<form asp-action="Index" method="get" id="frmFiltrar">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-user-tie"></i>
                                </span>
                                <span>Publicador - @Model.Nome</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">

            </div>
        </div>
    </div>
</form>


<hr />
<div class="container">
    <div class="tabs-wrapper">
        <div class="tabs is-toggle is-toggle-rounded is-fullwidth">
            <ul>
                <li class="is-active"><a>Dados</a></li>
                <li><a>Movimentos</a></li>
                <li><a>Pedidos</a></li>
            </ul>
        </div>
        <div class="tabs-content mx-2">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline">
                        <div class="column is-2">
                            <div class="field">
                                <label class="label" asp-for="Id"></label>
                                <p class="control ">
                                    <input type="text" class="input" readonly asp-for="Id">
                                </p>
                                <span asp-validation-for="Id" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-10">
                            <div class="field">
                                <label class="label" asp-for="Nome"></label>
                                <p class="control ">
                                    <input type="text" class="input" readonly asp-for="Nome">
                                </p>
                                <span asp-validation-for="Nome" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    @if (Model.Movimentos!.Count() == 0)
                    {
                        <br />
                        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
                            Não foram encontrados
                            movimentos!
                        </button>
                    }
                    else
                    {
                        <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">
                                <table class="table is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Literatura!.Descricao)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Quantidade)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Publicador!.Nome)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.DataMovimento)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Movimentos!)
                                        {
                                            <tr @(item.In ? "class=has-background-success" : "class=has-background-danger")>
                                                <td data-label="@Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Literatura!.Descricao)">
                                                    <span>@item.Literatura!.Descricao</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Quantidade)">
                                                    <span>@item.Quantidade</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.Publicador!.Nome)">
                                                    <span>@item.Publicador!.Nome</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Movimentos!.FirstOrDefault()!.DataMovimento)">
                                                    <span>@item.DataMovimento</span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">

                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </li>
                <li>
                    @if (Model.Pedidos!.Count() == 0)
                    {
                        <br />
                        <button class="button is-danger is-large is-rounded is-fullwidth is-disabled">
                            Não foram encontrados
                            Pedidos!
                        </button>
                    }
                    else
                    {
                        <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">
                                <table class="table is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Referencia)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Descricao)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Quantidade)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Pedidos!)
                                        {
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Referencia)">
                                                    <span>@item.Referencia</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Descricao)">
                                                    <span>@item.Descricao</span>
                                                </td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Pedidos!.FirstOrDefault()!.Quantidade)">
                                                    <span>@item.Quantidade</span>
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-pulled-right is-flex-wrap-nowrap" style="width:100%">

                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
